.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__404 {
  width: 99.72px;
  height: 90.91px;
}

.text__404 {
  width: 233.35px;
  height: 56px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
  color: #828282;
}
