<header class="header">
  <div class="search-container">
    <div class="search">
      <a href="localhost:4200"><img src="icons/logo.png" alt="" class="search-image"></a>
      <input type="text" class="search-input" placeholder="What are you want to find out?">
      <button class="search-button">Search</button>
      <button class="search-settings" (click)="toggleVisible()"><img src="icons/Vector.png" alt=""></button>
    </div>
    <div class="login-container">
      <p class="login-name">Your name</p>
      <button class="login-button"><img src="icons/login.png" alt=""></button>
    </div>
  </div>
</header>
@if(visible){
  <app-filter></app-filter>
}
